.card {
  padding: 30px;
  position: relative;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 0 solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 40vw;
  min-width: 20vw;
  min-height: 30vh;
}

mat-slider {
  width: 300px;
}
